// Colors
$red: #EE3232;
$grey_dark: #2b2929;
$grey_light_1: #353535;
$grey_light_2: #444444;
$grey_light_3: #686868;
$grey_light_4: #969696;
$white_dark: #e0e0e0;

// Fonts
$font_lemon: "Lemon-Milk-Light", serif;
$font_sans: "DMSans", serif;
$font_sans_bold: "DMSans-Bold", serif;