.s-alert-box {
  min-width: 250px;
}

.s-alert-close::before, .s-alert-close::after {
  width: 2px;
}

.app {
  background-color: #2b2929;
  height: 100vh;
}

html, body, #app, #app>div {
  height: 100%;
  background-color: #2b2929;
}

.app-body {
  padding: 100px 10% 100px 10%;
}