.footer {
  box-shadow: black 0 10px 50px;
  background-color: #2b2929;
  width: 100%;
  float: bottom;
}

.footer-filmstash {
  text-align: center;
  color: #EE3232;
  font-family: "Lemon-Milk-Light", serif;
  padding-top: 30px;
  padding-bottom: 20px;
}
