.footer {
    height: 115px;
    box-shadow: 0 10px 50px;
    background-color: #2b2929;
    width: 100%;
    float: bottom;
}

.filmstash {
    text-align: center;
    color: #EE3232;
    font-family: "Lemon-Milk-Light", serif;
}

.footer-wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

ul {
    padding-top: 20px;
}

a {
    font-family: "Lemon-Milk-Light", serif;
    color: #EFEDED;
}

a:hover {
    color: #EE3232;
}