.dialog {
    background-color: #EFEDED;
}

.dialog-content {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.dialog-button {
    padding: 5px;
    font-family: "Lemon-Milk-Light", serif;
    font-size: 22px;
    color: #EE3232;
    cursor: pointer;
}

.dialog-button:hover {
    text-decoration: underline;
}