.film-card {
    width: 200px;
    /*height: 170px;*/
    text-align: center;
    /*background-color: #383434;*/
    padding: 10px;
    /*box-shadow: 0 0 20px 5px #383434;*/
    cursor: pointer;
    transition: all 0.2s;
}

.film-card:hover {
    background-color: #383434;
    box-shadow: 0 0 20px 5px #383434;
}

.film-card-image{
    width: 100%;
}

.film-card-title {
    font-family: "Lemon-Milk-Light", serif;
    font-size: 15px;
    color: #EE3232;
}