.post-card {
    border: 1px solid black;
    background-color: #333333;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 20px;
    margin-bottom: 50px;
}

.post-card-header {
    padding: 20px 0;
    color: #EFEDED;
    font-family: "Lemon-Milk-Light", serif;
    font-size: 10px;
}

.post-card-name {
    display: inline-block;
}

.post-card-date {
    float: right;
    display: inline-block;
}

.post-card-buttons-section {
    display: flex;
    align-content: space-between;
    justify-content: center;
    gap: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 3px solid #2e2e2e;
    border-bottom: 3px solid #2e2e2e;
}

.post-card-button {
    display: inline-block;
    width: 150px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #EFEDED;
    font-family: "Lemon-Milk-Light", serif;
    font-size: 15px;
    transition: all 0.1s;
}

.post-card-button:hover {
    background-color: #383838;
    cursor: pointer;
}

.post-card-likes {
    color: #EFEDED;
    font-family: "Lemon-Milk-Light", serif;
    font-size: 15px;
}

.post-card-statistics-section {
    padding: 10px 0;
    border-top: 3px solid #2e2e2e;
}

.post-card-film-name {
    font-family: "Lemon-Milk-Light", serif;
    font-size: 18px;
    color: #EE3232;
}

.post-card-message {
    color: #EFEDED;
    font-family: "Lemon-Milk-Light", serif;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.post-comment-section {
    margin: 20px;
}

.comment {
    margin-bottom: 20px;
    border-radius: 15px;
    border: 3px solid #2e2e2e;
    padding: 10px;
}

.comment-header {
    padding: 0 0 10px 0;
    color: #EFEDED;
    font-family: "Lemon-Milk-Light", serif;
    font-size: 10px;
}

.comment-name {
    display: inline-block;
}

.comment-date {
    float: right;
    display: inline-block;
}

.comment-message {
    border-top: 3px solid #2e2e2e;
    padding-top: 10px;
    color: #EFEDED;
    font-size: 10px;
}

.comment-input {
    height: 60px;
    width: 100%;
    background-color: transparent;
    border: none;
    overflow: hidden;
    resize: none;
    color: #EFEDED;
}

.comment-input:focus {
    outline: none;
}

.no-display {
    display: none;
}

.show-more-comments {
    text-align: right;
    color: #EFEDED;
    font-family: "Lemon-Milk-Light", serif;
    font-size: 10px;
    cursor: pointer;
}

.collapse-comments {
    text-align: right;
    color: #EFEDED;
    font-family: "Lemon-Milk-Light", serif;
    font-size: 10px;
    cursor: pointer;
    padding-bottom: 20px;
}

.post-card-film-section{
    cursor: pointer;
    transition: all 0.2s;
}

.post-card-film-section:hover {
    background-color: #3f3f3f;
    box-shadow: 0 0 20px 5px #3f3f3f;
}

.post-card-delete-button {
    font-family: "Lemon-Milk-Light", serif;
    font-size: 12px;
    color: #EE3232;
    float: right;
    cursor: pointer;
}

.post-card-delete-button:hover {
    text-decoration: underline;
}